

.red-box-main {
	min-width: 100%;
	min-height: 100vh;
}
  .text-box {
	height: fit-content;
	width: fit-content;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.9);
	margin: 0 auto;
	z-index: 30;
  }
  .text-box a {
	color: white;
	padding: 1rem 2rem;
	border-radius: 3px;
	background-color: rgba(0, 150, 230, 1);
	display: inline-block;
	margin-top: 1rem;
  }
  .red-box {
	  position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 100px;
	margin: auto;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-size: 3rem;
	&::after{
		content: ':)';
	}
	&:hover {
		cursor: pointer;
		&::after {
			content: 'X';
		}
	}

}